DATABASE_URL=file:./dev.db
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=
GITHUB_PROXY_ENABLED=false
GITHUB_PROXY_URL=
GITHUB_PROXY_HANDSHAKE_KEY=
ADMIN_GITHUB_IDS=AurLemon
GITHUB_TOKEN=github_pat
GITHUB_PAT=github_pat
GITHUB_CONTRIBUTIONS_USERNAME=AurLemon
BAIDU_STAT_KEY=
MS_CLARITY_ID=
