DATABASE_URL=file:./prisma/dev.db
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=
ADMIN_GITHUB_IDS=AurLemon
GITHUB_TOKEN=github_pat
GITHUB_PAT=github_pat
GITHUB_CONTRIBUTIONS_USERNAME=AurLemon
BAIDU_STAT_KEY=
MS_CLARITY_ID=
